
#form
{
    color: brown;
    background-color: antiquewhite;
    text-align: center;
}
#name
{
    color: brown;
    background-color: rgb(173, 135, 84);
    
}
#roll
{
    color: brown;
    background-color: rgb(173, 135, 84);
    
}
#section
{
    color: brown;
    background-color: rgb(173, 135, 84);
    
}
